*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: auto;
  scroll-behavior: smooth;
  position: relative;
}

a:focus {
  outline: 4px solid rgb(191, 0, 255);
}

.padx {
  padding: 1.1rem 1.75rem;
  width: 100%;
}

@media (min-width: 48em) {
  .padx.padx {
    padding: 1.1rem 5.25rem;
  }
}
@media (min-width: 64em) {
  .padx.padx {
    padding: 1.1rem 13rem;
  }
}
@media (min-width: 75em) {
  .padx.padx {
    padding: 1.1rem 16rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mobile-header--hamburgur_icon {
  width: 3rem;
  height: 2.5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  transition: all 0.1s ease-out;
}
.mobile-header--hamburgur_icon .bar {
  height: 1rem;
  background-color: #656972;
  border-radius: 1px;
  transition: all 0.05s ease-out;
}

@media (min-width: 24em) {
  .mobile-header--hamburgur_icon {
    width: 3.75rem;
    height: 3.25rem;
  }
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Italic-trial.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Light-Italic-trial.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Light-trial.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Semilight-Italic-trial.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Thin-Italic-trial.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-trial.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Ultralight-trial.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 2rem;
  font-family: "Lato", sans-serif;
}
.header-main_nav,
.header .desktop-cta__container {
  position: absolute;
  display: none;
}
.header.active > .mobile-header--hamburgur_icon.active {
  gap: 0.6rem;
  width: 2.75rem;
  transition: all 0.25s ease-in;
  transform: rotate(90deg) translate(2px, -4px) scale(1.2);
}
.header.active > .mobile-header--hamburgur_icon.active .bar {
  background-color: rgb(247, 247, 248);
}
.header.active > .mobile-header--hamburgur_icon.active .bar-1 {
  transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
  transition: all 0.25s ease-in;
}
.header.active > .mobile-header--hamburgur_icon.active .bar-3 {
  transform: rotate(45deg) translate(-0.5rem, -0.4rem);
  transition: all 0.25s ease-in;
}
.header.active > .mobile-header--hamburgur_icon.active .bar-2 {
  height: 0;
  transition: all 0.25s ease-in;
}
.header.fixed.mobile-header {
  position: fixed;
  width: 100%;
  max-width: inherit;
  background-color: rgb(247, 247, 248);
  z-index: 10;
}
.header.active.mobile-header {
  position: fixed;
  width: 100%;
  max-width: inherit;
  height: 100vh;
  max-height: inherit;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: #ec5242;
  z-index: 2;
  overflow: hidden;
  transition: all 0.25s ease-out;
}
.header.active .header-main_nav {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  width: 100%;
  gap: 4.6rem;
}
.header.active .header-main_nav.padx {
  padding: 0;
}
.header.active .header-main_nav-logo {
  border: 4px solid rgb(247, 247, 248);
  width: 20rem;
  padding: 1rem 2rem;
}
.header.active .header-main_nav__ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4.6rem;
  width: 100%;
  margin-top: 4rem;
  align-items: flex-start;
  font-family: "cocogoose", sans-serif;
}
.header.active .header-main_nav__ul .list .link {
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 0;
  position: relative;
  color: #f7f7f8;
}
.header.active .header-main_nav__ul .list .link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10%;
  width: 100%;
  border-bottom: 2px solid transparent;
}
.header.active .header-main_nav__ul .list:last-child {
  box-shadow: none;
  padding: 0;
  color: #ec5242;
}
.header.active .header-main_nav__ul .list:last-child .link {
  border-color: transparent;
}
.header.active .header-main_nav__ul .list:last-child .link::after {
  border: none;
}
@media (min-width: 24em) {
  .header.active > .mobile-header--hamburgur_icon.active {
    gap: 0.6rem;
    width: 3.75rem;
    transition: all 0.25s ease-in;
    transform: rotate(90deg) translate(2px, -4px) scale(1.2);
  }
  .header.active > .mobile-header--hamburgur_icon.active .bar {
    height: 0.5rem;
    background-color: rgb(247, 247, 248);
  }
  .header.active > .mobile-header--hamburgur_icon.active .bar-1 {
    transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
    transition: all 0.25s ease-in;
  }
  .header.active > .mobile-header--hamburgur_icon.active .bar-3 {
    transform: rotate(45deg) translate(-0.5rem, -0.4rem);
    transition: all 0.25s ease-in;
  }
  .header.active > .mobile-header--hamburgur_icon.active .bar-2 {
    height: 0;
    transition: all 0.25s ease-in;
  }
}
@media (min-width: 48em) {
  .header {
    position: relative;
    flex-direction: column;
    background-color: rgb(247, 247, 248);
    padding: 0;
  }
  .header > .mobile-header--hamburgur_icon.active,
.header .mobile-header--hamburgur_icon {
    width: 0;
    position: absolute;
    transition: all 0.25s ease-out;
  }
  .header-main_nav {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
  }
  .header-main_nav.padx {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  .header-main_nav-logo {
    width: 14rem;
  }
  .header-main_nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    width: 100%;
    align-items: center;
    font-family: "cocogoose", sans-serif;
  }
  .header-main_nav__ul .list .link {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 2.2rem;
    position: relative;
    color: rgba(39, 42, 49, 0.75);
    transition: all 0.2s ease-in;
  }
  .header-main_nav__ul .list .link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10%;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: all 0.25s ease-in;
  }
  .header-main_nav__ul .list:last-child {
    box-shadow: 0 0 2px 3px #ec5242;
    padding: 0.6rem 2rem;
    color: #ec5242;
  }
  .header-main_nav__ul .list:last-child .link {
    color: #ec5242;
    border-color: transparent;
  }
  .header-main_nav__ul .list:last-child .link::after {
    border: none;
  }
  .header-main_nav__ul .list.active {
    transition: all 0.25s ease-in;
  }
  .header-main_nav__ul .list.active .link {
    color: #ec5242;
    transform: scale(1.2) translateY(-0.25rem);
  }
  .header-main_nav__ul .list.active .link::after {
    border-color: #ec5242;
    transition: all 0.25s ease-in;
  }
  .header-main_nav__ul .list:hover {
    transition: all 0.25s ease-in;
  }
  .header-main_nav__ul .list:hover .link {
    color: orange;
    transform: scale(1.2) translateY(-0.25rem);
  }
  .header-main_nav__ul .list:hover .link::after {
    border-color: orange;
    transition: all 0.25s ease-in;
  }
  .header .desktop-cta__container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #272a31;
  }
  .header .desktop-cta__container--uList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
    gap: 1.75rem;
  }
  .header .desktop-cta__container--uList .uList_link {
    font-family: "cocogoose", sans-serif;
    font-weight: 600;
    color: rgb(247, 247, 248);
    font-size: 0.9rem;
    align-self: center;
    transition: all 0.25s ease-out;
  }
  .header .desktop-cta__container--uList .uList_link .icon {
    font-size: 1.225rem;
  }
  .header .desktop-cta__container--uList .lang-prefer {
    font-family: "cocogoose", sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.9rem;
    vertical-align: middle;
  }
  .header .desktop-cta__container--uList .lang-prefer .opt {
    font-size: 1.2rem;
    color: black;
    border: none;
  }
  .header .desktop-cta__container--uList .list:hover {
    transform: scale(1.2) translateY(-0.25rem);
    transition: all 0.25s ease-in;
  }
  .header .desktop-cta__container--uList .list:hover .link {
    color: #ec5242;
  }
}
@media (min-width: 64em) {
  .header .desktop-cta__container--uList {
    gap: 1.75rem;
  }
  .header .desktop-cta__container--uList .uList_link {
    font-size: 0.9rem;
  }
  .header .desktop-cta__container--uList .uList_link .icon {
    font-size: 1.225rem;
  }
  .header .desktop-cta__container--uList .lang-prefer {
    font-size: 0.9rem;
  }
  .header .desktop-cta__container--uList .lang-prefer .opt {
    font-size: 1.2rem;
  }
  .header-main_nav.padx {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  .header-main_nav-logo {
    width: 14rem;
  }
  .header-main_nav__ul {
    gap: 3rem;
  }
  .header-main_nav__ul .list .link {
    font-size: 0.9rem;
    padding-bottom: 2.2rem;
  }
  .header-main_nav__ul .list .link::after {
    bottom: -10%;
  }
  .header-main_nav__ul .list:last-child {
    box-shadow: 0 0 2px 3px #ec5242;
    padding: 0.6rem 2rem;
  }
}
@media (min-width: 75em) {
  .header .desktop-cta__container--uList {
    gap: 2rem;
  }
  .header .desktop-cta__container--uList .uList_link {
    font-size: 1.1rem;
  }
  .header .desktop-cta__container--uList .uList_link .icon {
    font-size: 1.6rem;
  }
  .header .desktop-cta__container--uList .lang-prefer {
    font-size: 1.1rem;
  }
  .header .desktop-cta__container--uList .lang-prefer:hover {
    outline: thin solid black;
  }
  .header .desktop-cta__container--uList .lang-prefer .opt {
    font-size: 1rem;
  }
  .header-main_nav.padx {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .header-main_nav-logo {
    width: 20rem;
  }
  .header-main_nav__ul {
    gap: 5rem;
    width: 100%;
  }
  .header-main_nav__ul .list .link {
    font-size: 1.4rem;
    padding-bottom: 2.2rem;
  }
  .header-main_nav__ul .list:last-child {
    padding: 1rem 2rem;
  }
}

.about-info .welcome, .event-info .welcome, .about-info, .event-info {
  display: flex;
  flex-direction: column;
}

.about-info, .event-info {
  gap: 1.6rem;
  padding-top: 7.4rem;
  padding-bottom: 8.4rem;
  background-image: url("../../assets/patt.svg"), url("../../assets/arduino.svg"), url("../../assets/checkbox-feature.svg"), url("../../assets/Ellipse.svg"), url("../../assets/background.webp");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 12%, 15%, 15%, 20%, cover;
  background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, right 7% top 45%;
}
.about-info .welcome, .event-info .welcome {
  gap: 0.96rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ec5242;
}
.about-info .welcome .banner, .event-info .welcome .banner, .about-info .welcome .year, .event-info .welcome .year {
  font-family: "cocogoose", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.15;
  padding-left: 3.5px;
  background-image: url("../assets/118.webp");
  background-repeat: no-repeat;
  background-size: 100% 50rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0);
}
.about-info .welcome .year, .event-info .welcome .year {
  font-family: "Lato", sans-serif;
  display: inline;
  font-size: 2.35rem;
  margin-top: -1.25rem;
}
.about-info .summary, .event-info .summary {
  padding: 1.6rem;
  outline: 3px solid white;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  font-size: 0.96rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 1.8;
  color: #272a31;
  background-color: rgb(247, 247, 248);
}
.about-info .summary-break, .event-info .summary-break {
  display: inline;
}
.about-info .dates, .event-info .dates {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.25px;
}
.about-info .dates .venue, .event-info .dates .venue {
  font-weight: 700;
  font-size: 1.1rem;
}
@media (min-width: 48em) {
  .about-info, .event-info {
    background-image: url("../assets/rpi_vector.svg"), url("../assets/patt.svg"), url("../assets/arduino.svg"), url("../assets/checkbox-feature.svg"), url("../assets/Ellipse.svg"), url("../assets/desktop-bg.webp");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 40%, 12%, 15%, 15%, 20%, cover;
    background-position: top 0 left 0, bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, right 7% top 45%;
  }
}

@media (min-width: 22em) {
  .event-info {
    gap: 2.4rem;
    padding-top: 8.4rem;
    padding-bottom: 9.4rem;
  }
  .event-info .welcome {
    gap: 1.6rem;
    font-size: 2rem;
  }
  .event-info .welcome .banner {
    font-size: 2.32rem;
    line-height: 1.25;
    padding-left: 4px;
    background-size: 100% 50rem;
  }
  .event-info .welcome .year {
    font-size: 2.75rem;
    margin-top: -1.5rem;
  }
  .event-info .summary {
    padding: 1.6rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2;
  }
  .event-info .dates {
    font-size: 2.4rem;
    letter-spacing: 0.25px;
  }
  .event-info .dates .venue {
    font-weight: 700;
    font-size: 1.3rem;
  }
}
@media (min-width: 24em) {
  .event-info {
    gap: 2.4rem;
    padding-top: 9.4rem;
    padding-bottom: 10.4rem;
  }
  .event-info .welcome {
    gap: 1.6rem;
    font-size: 2.25rem;
  }
  .event-info .welcome .banner {
    font-size: 2.5rem;
    line-height: 1.25;
    padding-left: 4px;
    background-size: 100% 50rem;
  }
  .event-info .welcome .year {
    font-size: 3rem;
    margin-top: -1.5rem;
  }
  .event-info .summary {
    padding: 1.6rem;
    font-size: 1.22rem;
    font-weight: 600;
    line-height: 2;
  }
  .event-info .dates {
    font-size: 2.4rem;
    letter-spacing: 0.25px;
  }
  .event-info .dates .venue {
    font-weight: 700;
    font-size: 1.3rem;
  }
}
@media (min-width: 30em) {
  .event-info {
    gap: 2.4rem;
    padding-top: 11.4rem;
    padding-bottom: 12.4rem;
    background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, right 7% top 48%;
  }
  .event-info .welcome {
    gap: 1.6rem;
    font-size: 2.75rem;
  }
  .event-info .welcome .banner {
    font-size: 3.25rem;
    line-height: 1.25;
    padding-left: 6px;
    background-size: 100% 70rem;
  }
  .event-info .welcome .year {
    font-size: 4rem;
    margin-top: -1.5rem;
  }
  .event-info .summary {
    padding: 1.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
  }
  .event-info .dates {
    font-size: 3rem;
    letter-spacing: 0.25px;
  }
  .event-info .dates .venue {
    font-weight: 700;
    font-size: 1.6rem;
  }
}
@media (min-width: 48em) {
  .event-info {
    gap: 2.4rem;
    background-size: 20%, 5%, 7%, 7%, 8%, cover;
    background-position: top 15% right 15%, bottom 3% left 7%, bottom 5% right 7%, right 20% bottom 25%, right 40% top 60%;
  }
  .event-info.padx {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  .event-info .welcome {
    gap: 1.6rem;
    font-size: 2.75rem;
  }
  .event-info .welcome .banner {
    font-size: 3.75rem;
    line-height: 1.25;
    padding-left: 6px;
    background-size: 100% 70rem;
  }
  .event-info .welcome .year {
    font-size: 4.25rem;
    margin-top: -1.5rem;
  }
  .event-info .summary {
    width: 60%;
    padding: 1.25rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.6;
    color: rgba(39, 42, 49, 0.6);
  }
  .event-info .summary-break {
    display: block;
  }
  .event-info .dates {
    font-size: 2.6rem;
    letter-spacing: 0.25px;
    width: 60%;
    color: rgba(39, 42, 49, 0.8);
    line-height: 1;
  }
  .event-info .dates .venue {
    font-weight: 700;
    font-size: 1.4rem;
  }
}
@media (min-width: 64em) {
  .event-info {
    gap: 2.4rem;
    background-size: 15%, 5%, 7%, 7%, 8%, cover;
    background-position: top 15% right 15%, bottom 3% left 7%, bottom 5% right 7%, right 20% bottom 25%, right 42% top 62%;
  }
  .event-info.padx {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .event-info .summary {
    width: 60%;
    padding: 1.25rem;
    font-size: 1rem;
    color: rgba(39, 42, 49, 0.6);
  }
}
@media (min-width: 75em) {
  .event-info {
    gap: 2rem;
    background-position: top 15% right 15%, bottom 3% left 7%, bottom 5% right 7%, right 20% bottom 25%, right 42% top 58%;
    background-size: 15%, 5%, 7%, 7%, 7%, cover;
  }
  .event-info.padx {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
  .event-info .welcome {
    gap: 1.75rem;
    font-size: 3rem;
  }
  .event-info .welcome .banner {
    font-size: 4rem;
    line-height: 1;
    padding-left: 6px;
    background-size: 100% 70rem;
  }
  .event-info .welcome .year {
    font-size: 4.5rem;
    margin-top: -2rem;
  }
  .event-info .summary {
    width: 60%;
    padding: 1.25rem;
    font-size: 1.35rem;
  }
}

.program-highlight_group, .program-highlight {
  display: flex;
  flex-direction: column;
}

.program-highlight {
  background-color: rgb(39, 42, 50);
  background-image: url("../assets/pattern_bg.png");
  background-size: 12%;
  font-family: "Lato", sans-serif;
  gap: 2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.program-highlight_heading {
  align-self: center;
  color: rgb(247, 247, 248);
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.6rem;
}
.program-highlight_heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}
.program-highlight_group {
  list-style: none;
  gap: 0.6rem;
}
.program-highlight_group--list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  padding: 1.25rem;
  column-gap: 1.2rem;
  align-items: center;
  font-size: 1rem;
  justify-content: space-between;
  background-color: rgba(200, 200, 200, 0.1);
  transition: all 0.25s ease-out;
}
.program-highlight_group--list .icon {
  color: rgb(247, 247, 248);
  font-size: 2.6rem;
}
.program-highlight_group--list .topic {
  font-size: 1.25rem;
  font-weight: 900;
  color: #ec5242;
}
.program-highlight_group--list .detail {
  color: rgb(247, 247, 248);
}
.program-highlight_group--list:hover {
  cursor: pointer;
  outline: 2px solid rgb(247, 247, 248);
  transform: scale(1.05);
  transition: all 0.25s ease-in;
}
.program-highlight_join {
  align-self: center;
  width: max-content;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.6rem 3rem;
  text-decoration: none;
  background-color: #ff3e25;
}
@media (min-width: 22em) {
  .program-highlight {
    background-size: 10%;
    gap: 2.75rem;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
  .program-highlight_heading {
    font-size: 2.6rem;
  }
  .program-highlight_heading::after {
    width: 4.6rem;
  }
  .program-highlight_group {
    gap: 1rem;
  }
  .program-highlight_group--list {
    padding: 1.6rem;
    column-gap: 1.2rem;
    align-items: center;
    font-size: 1.25rem;
  }
  .program-highlight_group--list .icon {
    font-size: 3rem;
  }
  .program-highlight_group--list .topic {
    font-size: 1.5rem;
  }
  .program-highlight_join {
    font-size: 1.75rem;
    padding: 1.6rem 3rem;
  }
}
@media (min-width: 24em) {
  .program-highlight {
    background-size: 10%;
    gap: 3rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  .program-highlight_heading {
    font-size: 2.75rem;
  }
  .program-highlight_heading::after {
    width: 4.6rem;
  }
  .program-highlight_group {
    gap: 1rem;
  }
  .program-highlight_group--list {
    padding: 1.6rem;
    column-gap: 1.2rem;
    align-items: center;
    font-size: 1.3rem;
  }
  .program-highlight_group--list .icon {
    font-size: 3.4rem;
  }
  .program-highlight_group--list .topic {
    font-size: 1.6rem;
  }
  .program-highlight_join {
    font-size: 1.75rem;
    padding: 1.6rem 3.25rem;
  }
}
@media (min-width: 30em) {
  .program-highlight {
    background-size: 10%;
    gap: 3rem;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
  .program-highlight_heading {
    font-size: 3rem;
  }
  .program-highlight_heading::after {
    width: 5rem;
  }
  .program-highlight_group {
    gap: 1rem;
  }
  .program-highlight_group--list {
    padding: 1.6rem;
    column-gap: 1.2rem;
    align-items: center;
    font-size: 1.7rem;
  }
  .program-highlight_group--list .icon {
    font-size: 4.4rem;
  }
  .program-highlight_group--list .topic {
    font-size: 2rem;
  }
  .program-highlight_join {
    font-size: 2rem;
    padding: 2rem 4rem;
  }
}
@media (min-width: 37em) {
  .program-highlight {
    background-size: 6%;
    gap: 6rem;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
  .program-highlight_heading {
    font-size: 2.6rem;
  }
  .program-highlight_heading::after {
    width: 4rem;
  }
  .program-highlight_group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .program-highlight_group--list {
    grid-template-columns: 1fr;
    padding: 1.75rem;
    gap: 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    align-content: flex-start;
  }
  .program-highlight_group--list .icon {
    font-size: 4rem;
  }
  .program-highlight_group--list .topic {
    font-size: 2rem;
  }
  .program-highlight_group--list:nth-child(4), .program-highlight_group--list:nth-child(5) {
    margin-left: 50%;
  }
  .program-highlight_join {
    font-size: 1.75rem;
    padding: 2rem 4rem;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    visibility: hidden;
  }
  .program-highlight_join::after {
    content: "See The Whole Program";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: inherit;
    visibility: visible;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline gray;
  }
  .program-highlight_join:hover {
    font-weight: 900;
    color: #ec5242;
  }
}
@media (min-width: 48em) {
  .program-highlight {
    background-size: 4%;
    gap: 4rem;
  }
  .program-highlight.padx {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }
  .program-highlight_heading {
    font-size: 2.25rem;
  }
  .program-highlight_heading::after {
    width: 3.6rem;
  }
  .program-highlight_group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.6rem;
  }
  .program-highlight_group--list {
    grid-template-columns: 1fr;
    padding: 1.2rem;
    gap: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    align-content: flex-start;
  }
  .program-highlight_group--list .icon {
    font-size: 3rem;
  }
  .program-highlight_group--list .topic {
    font-size: 1.4rem;
  }
  .program-highlight_group--list:nth-child(4), .program-highlight_group--list:nth-child(5) {
    margin-left: 0;
  }
  .program-highlight_join {
    font-size: 1.25rem;
    padding: 2rem 4rem;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    visibility: hidden;
  }
  .program-highlight_join::after {
    content: "See The Whole Program";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: inherit;
    visibility: visible;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline gray;
  }
}
@media (min-width: 75em) {
  .program-highlight {
    background-size: 3%;
    gap: 4rem;
    margin: auto;
  }
  .program-highlight.padx {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }
  .program-highlight_group {
    gap: 0.75rem;
  }
  .program-highlight_group--list {
    padding: 1.6rem;
    gap: 0.6rem;
    font-size: 1.45rem;
    line-height: 1.5;
  }
  .program-highlight_group--list .icon {
    font-size: 4rem;
  }
  .program-highlight_group--list .topic {
    font-size: 2rem;
  }
  .program-highlight_join {
    font-size: 1.25rem;
    padding: 2rem 4rem;
  }
}

.featured-speaker_group .list-detail .name, .featured-speaker_group .list-detail, .featured-speaker_group, .featured-speaker {
  display: flex;
  flex-direction: column;
}

.featured-speaker {
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 248);
  gap: 2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.featured-speaker_heading {
  align-self: center;
  color: #272a31;
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.6rem;
}
.featured-speaker_heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}
.featured-speaker_group {
  list-style: none;
  gap: 2.6rem;
  height: 250px;
  overflow: hidden;
  transition: height 1s ease-in;
}
.featured-speaker_group--list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.4rem 0 0 1.4rem;
  background-color: transparent;
  background-image: url("../assets/mobile-check.svg");
  background-repeat: no-repeat;
  column-gap: 0.25rem;
  justify-content: safe;
  transition: all 0.5s ease-out;
}
.featured-speaker_group--list .img {
  display: block;
  border: 0;
  width: 7.6rem;
  height: 7.6rem;
  object-fit: fill;
  object-position: top;
}
.featured-speaker_group--list .contact-info {
  position: absolute;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.featured-speaker_group--list .contact-info_list .list_link {
  font-size: 3rem;
  color: rgb(247, 247, 248);
}
.featured-speaker_group--list:hover {
  position: relative;
  cursor: auto;
  transition: all 0.5s ease-out;
}
.featured-speaker_group--list:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  background-color: rgba(255, 0, 25, 0.8);
}
.featured-speaker_group--list:hover .contact-info {
  display: flex;
}
.featured-speaker_group .list-detail {
  font-family: "Lato", sans-serif;
}
.featured-speaker_group .list-detail .name {
  gap: 0.25rem;
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 0.75rem;
  color: #272a31;
  position: relative;
}
.featured-speaker_group .list-detail .name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 1px;
  background-color: #999;
  transform: translate(0, 0);
}
.featured-speaker_group .list-detail .name .designation {
  font-size: 1rem;
  display: block;
  font-weight: 400;
  font-style: italic;
  color: #ec5242;
}
.featured-speaker_group .list-detail .detail {
  font-size: 0.9rem;
  padding-top: 1rem;
  line-height: 1.25;
  font-weight: 400;
}
.featured-speaker_group.active {
  height: auto;
  transition: height 1s ease-out;
}
.featured-speaker_more {
  display: flex;
  border: thin solid rgba(39, 42, 49, 0.2);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #272a31;
  font-weight: 400;
  padding: 1rem 0;
  background-color: transparent;
  border-radius: 0.3rem;
  gap: 0.6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.featured-speaker_more .icon {
  color: #ec5242;
}
@media (min-width: 22em) {
  .featured-speaker {
    gap: 4rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  .featured-speaker_heading {
    font-size: 2.6rem;
    padding-bottom: 1.6rem;
  }
  .featured-speaker_heading::after {
    width: 4.6rem;
  }
  .featured-speaker_group {
    gap: 4rem;
    height: 350px;
  }
  .featured-speaker_group--list {
    padding: 1.4rem 0 0 1.4rem;
    column-gap: 1.6rem;
  }
  .featured-speaker_group--list .img {
    width: 10rem;
    height: 10rem;
  }
  .featured-speaker_group .list-detail {
    margin-top: -1rem;
  }
  .featured-speaker_group .list-detail .name {
    gap: 0.6rem;
    font-weight: 700;
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
  .featured-speaker_group .list-detail .name::after {
    width: 2rem;
  }
  .featured-speaker_group .list-detail .name .designation {
    font-size: 1.25rem;
  }
  .featured-speaker_group .list-detail .detail {
    font-size: 1.15rem;
    padding-top: 1rem;
    line-height: 1.6;
  }
  .featured-speaker_more {
    padding: 1rem 0;
    border-radius: 0.3rem;
    gap: 0.6rem;
  }
}
@media (min-width: 24em) {
  .featured-speaker {
    gap: 4.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  .featured-speaker_heading {
    font-size: 2.75rem;
    padding-bottom: 1.6rem;
  }
  .featured-speaker_heading::after {
    width: 4.6rem;
  }
  .featured-speaker_group {
    gap: 4.6rem;
    height: 390px;
  }
  .featured-speaker_group--list {
    padding: 1.4rem 0 0 1.4rem;
    column-gap: 1.6rem;
  }
  .featured-speaker_group--list .img {
    width: 12rem;
    height: 12rem;
  }
  .featured-speaker_group .list-detail {
    margin-top: -2rem;
  }
  .featured-speaker_group .list-detail .name {
    gap: 0.6rem;
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .featured-speaker_group .list-detail .name::after {
    width: 2.6rem;
  }
  .featured-speaker_group .list-detail .name .designation {
    font-size: 1.3rem;
  }
  .featured-speaker_group .list-detail .detail {
    font-size: 1.25rem;
    padding-top: 1rem;
    line-height: 1.6;
  }
  .featured-speaker_more {
    font-size: 1.75rem;
    padding: 1rem 0;
    border-radius: 0.3rem;
    gap: 0.6rem;
  }
}
@media (min-width: 30em) {
  .featured-speaker {
    gap: 5.6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .featured-speaker_heading {
    font-size: 3rem;
    padding-bottom: 1.6rem;
  }
  .featured-speaker_heading::after {
    width: 5rem;
  }
  .featured-speaker_group {
    gap: 6rem;
    height: 390px;
  }
  .featured-speaker_group--list {
    padding: 1.6rem 0 0 1.6rem;
    column-gap: 1.6rem;
  }
  .featured-speaker_group--list .img {
    width: 12rem;
    height: 12rem;
  }
  .featured-speaker_group .list-detail {
    margin-top: -2rem;
  }
  .featured-speaker_group .list-detail .name {
    gap: 0.6rem;
    font-weight: 700;
    font-size: 2.6rem;
    padding-bottom: 1rem;
  }
  .featured-speaker_group .list-detail .name::after {
    width: 2.6rem;
  }
  .featured-speaker_group .list-detail .name .designation {
    font-size: 1.5rem;
  }
  .featured-speaker_group .list-detail .detail {
    font-size: 1.3rem;
    padding-top: 1rem;
    line-height: 1.6;
  }
  .featured-speaker_more {
    font-size: 1.75rem;
    padding: 1rem 0;
    border-radius: 0.3rem;
    gap: 1rem;
  }
}
@media (min-width: 37em) {
  .featured-speaker {
    gap: 5.6rem;
    padding-top: 4rem;
    padding-bottom: 0;
  }
  .featured-speaker_heading {
    font-size: 2.6rem;
    padding-bottom: 1.6rem;
  }
  .featured-speaker_heading::after {
    width: 4rem;
  }
  .featured-speaker_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    height: auto;
  }
  .featured-speaker_group--list {
    background-image: url("../assets/gray-mobile-check.svg");
    padding: 1.4rem 0 0 1.4rem;
    column-gap: 1.6rem;
  }
  .featured-speaker_group--list .img {
    width: 8rem;
    height: 8rem;
  }
  .featured-speaker_group .list-detail {
    margin-top: 0;
  }
  .featured-speaker_group .list-detail .name {
    gap: 0.6rem;
    font-weight: 700;
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
  .featured-speaker_group .list-detail .name::after {
    width: 2.6rem;
  }
  .featured-speaker_group .list-detail .name .designation {
    font-size: 1.2rem;
  }
  .featured-speaker_group .list-detail .detail {
    font-size: 0.9rem;
    padding-top: 1rem;
    line-height: 1.6;
  }
  .featured-speaker_more {
    width: 0;
    font-size: 0;
    padding: 0;
    border-radius: 0;
    gap: 0;
  }
}
@media (min-width: 48em) {
  .featured-speaker {
    gap: 5.6rem;
  }
  .featured-speaker.padx {
    padding-top: 4rem;
    padding-bottom: 0;
  }
  .featured-speaker_heading {
    font-size: 2.25rem;
    padding-bottom: 1.6rem;
  }
  .featured-speaker_heading::after {
    width: 3.6rem;
  }
  .featured-speaker_group {
    gap: 3rem;
    height: auto;
  }
  .featured-speaker_group--list {
    background-image: url("../assets/gray-mobile-check.svg");
    padding: 1.4rem 0 0 1.4rem;
    column-gap: 1.25rem;
    cursor: pointer;
  }
  .featured-speaker_group--list .img {
    width: 11rem;
    height: 11rem;
  }
}
@media (min-width: 75em) {
  .featured-speaker {
    gap: 5.6rem;
  }
  .featured-speaker.padx {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .featured-speaker_heading {
    font-size: 2.25rem;
    padding-bottom: 1.6rem;
  }
  .featured-speaker_heading::after {
    width: 3.6rem;
  }
  .featured-speaker_group {
    gap: 5rem;
    height: auto;
  }
  .featured-speaker_group--list {
    background-image: url("../assets/desktop-check.svg");
    padding: 1.8rem 0 0 1.8rem;
    column-gap: 1rem;
    cursor: pointer;
  }
  .featured-speaker_group--list .img {
    width: 14rem;
    height: 14rem;
  }
  .featured-speaker_group--list .list-detail {
    margin-top: 0;
  }
  .featured-speaker_group--list .list-detail .name {
    gap: 0.6rem;
    font-weight: 700;
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }
  .featured-speaker_group--list .list-detail .name::after {
    width: 2.6rem;
  }
  .featured-speaker_group--list .list-detail .name .designation {
    font-size: 1.3rem;
  }
  .featured-speaker_group--list .list-detail .detail {
    font-size: 1.15rem;
    padding-top: 1rem;
    line-height: 1.6;
  }
}

.partners_group, .partners {
  display: flex;
  flex-direction: column;
}

.partners {
  font-family: "Lato", sans-serif;
  background-color: #272a31;
  gap: 3rem;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}
.partners_heading {
  align-self: center;
  color: rgb(247, 247, 248);
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.6rem;
}
.partners_heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}
.partners_group {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.partners_group .list .brands {
  width: 7rem;
  display: inline-block;
}
@media (min-width: 22em) {
  .partners {
    gap: 4rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  .partners_heading {
    font-size: 2.6rem;
    padding-bottom: 1.6rem;
  }
  .partners_heading::after {
    width: 4rem;
  }
  .partners_group {
    gap: 2rem;
  }
  .partners_group .list .brands {
    width: 9rem;
  }
}
@media (min-width: 24em) {
  .partners {
    gap: 4.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  .partners_heading {
    font-size: 2.75rem;
    padding-bottom: 1.6rem;
  }
  .partners_heading::after {
    width: 4rem;
  }
  .partners_group {
    gap: 2.6rem;
  }
  .partners_group .list .brands {
    width: 10rem;
  }
}
@media (min-width: 30em) {
  .partners {
    gap: 4.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  .partners_heading {
    font-size: 2.75rem;
    padding-bottom: 1.6rem;
  }
  .partners_heading::after {
    width: 4rem;
  }
  .partners_group {
    gap: 2.6rem;
  }
  .partners_group .list .brands {
    width: 13rem;
  }
}
@media (min-width: 37em) {
  .partners {
    gap: 2.6rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
  }
  .partners_heading {
    font-size: 2.75rem;
    padding-bottom: 1.6rem;
  }
  .partners_heading::after {
    width: 4rem;
  }
  .partners_group {
    gap: 2.6rem;
  }
  .partners_group .list .brands {
    width: 9rem;
  }
}
@media (min-width: 48em) {
  .partners {
    gap: 2.6rem;
  }
  .partners.padx {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
  .partners_heading {
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }
  .partners_heading::after {
    width: 3rem;
  }
  .partners_group {
    gap: 4rem;
  }
  .partners_group .list .brands {
    width: 9.6rem;
  }
}
@media (min-width: 75em) {
  .partners {
    gap: 2.6rem;
  }
  .partners.padx {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .partners_heading {
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }
  .partners_heading::after {
    width: 3rem;
  }
  .partners_group {
    gap: 6rem;
  }
  .partners_group .list .brands {
    width: 13rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 248);
  align-items: center;
  justify-content: space-between;
  color: #272a31;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  font-size: 0.9rem;
  font-weight: 700;
}
.footer-link {
  text-decoration: none;
}
.footer-link_logo {
  display: block;
  width: 90%;
}
.footer.active {
  background-color: #272a31;
  color: rgb(247, 247, 248);
}
.footer.active .credit_link {
  color: rgb(247, 247, 248);
}
.footer--credits {
  line-height: 1.75;
  letter-spacing: 0.25px;
}
.footer--credits .credit .credit_link {
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
.footer--credits .credit .credit_link:hover, .footer--credits .credit .credit_link:active {
  color: #ec5242;
}
@media (min-width: 22em) {
  .footer {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 0.9rem;
  }
  .footer-link {
    text-decoration: none;
  }
  .footer-link_logo {
    width: 14rem;
  }
  .footer--credits {
    line-height: 1.75;
    letter-spacing: 0.25px;
  }
}
@media (min-width: 24em) {
  .footer {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    font-size: 1.05rem;
  }
  .footer-link {
    text-decoration: none;
  }
  .footer-link_logo {
    width: 14rem;
  }
  .footer--credits {
    line-height: 1.75;
    letter-spacing: 0.25px;
  }
}
@media (min-width: 30em) {
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.25rem;
  }
  .footer-link {
    text-decoration: none;
  }
  .footer-link_logo {
    width: 17rem;
  }
  .footer--credits {
    line-height: 1.75;
    letter-spacing: 0.25px;
  }
}
@media (min-width: 37em) {
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1rem;
  }
  .footer-link {
    text-decoration: none;
  }
  .footer-link_logo {
    width: 17rem;
  }
  .footer--credits {
    width: 60%;
    line-height: 1.75;
    letter-spacing: 0.25px;
  }
  .footer--credits .text,
.footer--credits .credit {
    display: inline;
  }
}
@media (min-width: 48em) {
  .footer {
    font-size: 1.3rem;
  }
  .footer.padx {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .footer-link {
    text-decoration: none;
  }
  .footer-link_logo {
    width: 17rem;
  }
  .footer--credits {
    width: 60%;
    line-height: 1.75;
    letter-spacing: 0.25px;
  }
  .footer--credits .text,
.footer--credits .credit {
    display: inline;
  }
}
@media (min-width: 75em) {
  .footer {
    font-size: 1.6rem;
  }
  .footer.padx {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .footer-link {
    text-decoration: none;
  }
  .footer-link_logo {
    width: 22rem;
  }
  .footer--credits {
    width: 60%;
    line-height: 1.75;
    letter-spacing: 0.25px;
  }
  .footer--credits .text,
.footer--credits .credit {
    display: inline;
  }
}

.past-highlight_wrapper .wrapper_list, .past-highlight_wrapper, .about-highlight, .past-highlight {
  display: flex;
  flex-direction: column;
}

.about-info {
  text-align: center;
  gap: 3.6rem;
  padding-top: 8rem;
  background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, left 7% top 32%;
}
.about-info .welcome .banner {
  font-family: "Lato", sans-serif;
}
.about-info .welcome .year {
  font-size: 2rem;
}
.about-info .summary-break {
  display: block;
}
.about-info .dates {
  font-weight: 400;
  font-size: 1rem;
}
.about-info .dates .venue {
  display: block;
  padding-top: 0.75rem;
}
.about-info .dates .contact-mail {
  color: inherit;
  text-decoration: underline;
}
.about-info .dates .contact-mail:hover {
  color: crimson;
}
@media (min-width: 22em) {
  .about-info {
    gap: 4rem;
    padding-top: 8.4rem;
    padding-bottom: 9.4rem;
    background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, left 7% top 26%;
  }
  .about-info .welcome {
    gap: 1.6rem;
    font-size: 2rem;
  }
  .about-info .welcome .banner {
    font-size: 2.35rem;
    line-height: 1.25;
    padding-left: 4px;
    background-size: 100% 50rem;
  }
  .about-info .welcome .year {
    font-size: 2.75rem;
    margin-top: -1.5rem;
  }
  .about-info .summary {
    padding: 1.6rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2;
  }
  .about-info .dates {
    font-size: 1.2rem;
    letter-spacing: 0.25px;
  }
  .about-info .dates .venue {
    font-weight: 700;
    font-size: 1.3rem;
  }
}
@media (min-width: 24em) {
  .about-info {
    gap: 4rem;
    padding-top: 9.4rem;
    padding-bottom: 10.4rem;
    background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, left 7% top 30%;
  }
  .about-info .welcome {
    gap: 1.6rem;
    font-size: 2.25rem;
  }
  .about-info .welcome .banner {
    font-size: 2.75rem;
    line-height: 1.25;
    padding-left: 4px;
    background-size: 100% 50rem;
  }
  .about-info .welcome .year {
    font-size: 3rem;
    margin-top: -1.5rem;
  }
  .about-info .summary {
    padding: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2;
  }
  .about-info .dates {
    font-size: 1.32rem;
    letter-spacing: 0.25px;
    line-height: 1.6;
  }
  .about-info .dates .venue {
    font-weight: 700;
    font-size: 1.4rem;
  }
}
@media (min-width: 30em) {
  .about-info {
    gap: 4rem;
    padding-top: 11.4rem;
    padding-bottom: 12.4rem;
    background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, left 7% top 31%;
  }
  .about-info .welcome {
    gap: 1.6rem;
    font-size: 2.75rem;
  }
  .about-info .welcome .banner {
    font-size: 3.25rem;
    line-height: 1.25;
    background-size: 100% 70rem;
  }
  .about-info .welcome .year {
    font-size: 4rem;
    margin-top: -1.5rem;
  }
  .about-info .summary {
    padding: 1.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
  }
  .about-info .dates {
    font-size: 1.6rem;
    letter-spacing: 0.25px;
    line-height: 1.6;
  }
  .about-info .dates .venue {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
@media (min-width: 48em) {
  .about-info {
    gap: 4rem;
    background-position: top 25% right 10%, bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, left 5% top 34%;
    background-size: 25%, 8%, 10%, 10%, 10%, cover;
  }
  .about-info.padx {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  .about-info .welcome {
    gap: 1.6rem;
    font-size: 2.75rem;
  }
  .about-info .welcome .banner {
    font-size: 3.75rem;
    line-height: 1.25;
    background-size: 100% 70rem;
  }
  .about-info .welcome .year {
    font-size: 4rem;
    margin-top: -1.5rem;
  }
  .about-info .summary {
    padding: 1.6rem;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2;
  }
  .about-info .summary-break {
    display: block;
  }
  .about-info .dates {
    font-size: 1.8rem;
    letter-spacing: 0.25px;
    line-height: 1.6;
  }
  .about-info .dates .venue {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
@media (min-width: 64em) {
  .about-info {
    gap: 2rem;
    background-position: top 25% right 10%, bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, left 5% top 34%;
    background-size: 15%, 8%, 10%, 10%, 10%, cover;
  }
  .about-info.padx {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .about-info .welcome {
    gap: 1.6rem;
    font-size: 2.75rem;
  }
  .about-info .welcome .banner {
    font-size: 3.75rem;
    line-height: 1.25;
    background-size: 100% 70rem;
  }
  .about-info .welcome .year {
    font-size: 4rem;
    margin-top: -1.5rem;
  }
  .about-info .summary {
    padding: 1.6rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2;
  }
  .about-info .summary-break {
    display: block;
  }
  .about-info .dates {
    font-size: 1.6rem;
    letter-spacing: 0.25px;
    line-height: 1.6;
  }
  .about-info .dates .venue {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.about-highlight, .past-highlight {
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: thin solid rgba(39, 42, 49, 0.25);
}
.about-highlight .heading, .past-highlight .heading {
  align-self: center;
  text-align: center;
  color: #272a31;
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.25rem;
  margin-bottom: 3rem;
  line-height: 1.4;
}
.about-highlight .heading::after, .past-highlight .heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}
.about-highlight .foundation, .past-highlight .foundation {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
  color: #272a31;
}
.about-highlight .foundation-logo, .past-highlight .foundation-logo {
  display: inline-block;
  border: thin solid rgba(39, 42, 49, 0.25);
  padding: 1rem 2rem;
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 24em) {
  .about-highlight, .past-highlight {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .about-highlight .heading, .past-highlight .heading {
    font-size: 2.6rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3rem;
    line-height: 1.4;
  }
  .about-highlight .heading::after, .past-highlight .heading::after {
    width: 4rem;
    height: 1px;
  }
  .about-highlight .foundation, .past-highlight .foundation {
    font-size: 1.35rem;
    line-height: 1.4;
  }
  .about-highlight .foundation-logo, .past-highlight .foundation-logo {
    border: thin solid rgba(39, 42, 49, 0.25);
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
}
@media (min-width: 30em) {
  .about-highlight, .past-highlight {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .about-highlight .heading, .past-highlight .heading {
    font-size: 3.4rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3rem;
    line-height: 1.4;
  }
  .about-highlight .heading::after, .past-highlight .heading::after {
    width: 4rem;
    height: 1px;
  }
  .about-highlight .foundation, .past-highlight .foundation {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .about-highlight .foundation-logo, .past-highlight .foundation-logo {
    border: thin solid rgba(39, 42, 49, 0.25);
    padding: 1rem 2rem;
    margin-top: 5rem;
  }
}
@media (min-width: 48em) {
  .about-highlight.padx, .padx.past-highlight {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .about-highlight .heading, .past-highlight .heading {
    font-size: 3rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3rem;
    line-height: 1.4;
  }
  .about-highlight .heading::after, .past-highlight .heading::after {
    width: 4rem;
    height: 1px;
  }
  .about-highlight .foundation, .past-highlight .foundation {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .about-highlight .foundation-logo, .past-highlight .foundation-logo {
    max-width: 35rem;
    border: thin solid rgba(39, 42, 49, 0.25);
    padding: 1rem 2rem;
    margin-top: 5rem;
  }
}

.past-highlight {
  background-color: rgb(247, 247, 248);
  border: none;
}
.past-highlight_wrapper {
  gap: 1rem;
  margin-top: 2rem;
}
.past-highlight_wrapper .wrapper_list {
  justify-content: center;
  position: relative;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.past-highlight_wrapper .wrapper_list::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  background-color: rgba(255, 0, 25, 0.8);
}
.past-highlight_wrapper .wrapper_list .list-link_img {
  width: 100%;
  height: 22rem;
  display: inline-block;
}
.past-highlight_wrapper .wrapper_list .event-year {
  position: absolute;
  text-align: center;
  align-self: center;
  color: rgb(247, 247, 248);
  font-size: 3.25rem;
  line-height: 1.9;
  font-weight: 900;
  z-index: 1;
}
.past-highlight_wrapper .wrapper_list .event-year .place {
  font-size: 1.25rem;
  font-weight: 600;
  display: block;
}
@media (min-width: 24em) {
  .past-highlight_wrapper {
    gap: 1rem;
    margin-top: 2rem;
  }
  .past-highlight_wrapper .wrapper_list .list-link {
    font-size: 1.75rem;
  }
  .past-highlight_wrapper .wrapper_list .list-link_img {
    height: 25rem;
  }
  .past-highlight_wrapper .wrapper_list .event-year {
    font-size: 3.75rem;
    line-height: 1.9;
  }
  .past-highlight_wrapper .wrapper_list .event-year .place {
    font-size: 1.4rem;
  }
}
@media (min-width: 30em) {
  .past-highlight_wrapper {
    gap: 1rem;
    margin-top: 2rem;
  }
  .past-highlight_wrapper .wrapper_list .list-link {
    font-size: 1.75rem;
  }
  .past-highlight_wrapper .wrapper_list .list-link_img {
    height: 30rem;
  }
  .past-highlight_wrapper .wrapper_list .event-year {
    font-size: 4rem;
    line-height: 1.9;
  }
  .past-highlight_wrapper .wrapper_list .event-year .place {
    font-size: 1.375rem;
  }
}
@media (min-width: 48em) {
  .past-highlight_wrapper {
    gap: 2rem;
    margin-top: 5rem;
    flex-direction: row;
  }
  .past-highlight_wrapper .wrapper_list .list-link {
    font-size: 1.75rem;
  }
  .past-highlight_wrapper .wrapper_list .list-link_img {
    max-height: 20rem;
  }
  .past-highlight_wrapper .wrapper_list .event-year {
    font-size: 4rem;
    line-height: 1.9;
  }
  .past-highlight_wrapper .wrapper_list .event-year .place {
    font-size: 1.375rem;
  }
}
@media (min-width: 75em) {
  .past-highlight_wrapper {
    gap: 2rem;
    margin-top: 5rem;
    flex-direction: row;
  }
  .past-highlight_wrapper .wrapper_list .list-link {
    font-size: 1.75rem;
  }
  .past-highlight_wrapper .wrapper_list .list-link_img {
    max-height: 25rem;
  }
  .past-highlight_wrapper .wrapper_list .event-year {
    font-size: 4rem;
    line-height: 1.9;
  }
  .past-highlight_wrapper .wrapper_list .event-year .place {
    font-size: 1.375rem;
  }
}

/*# sourceMappingURL=style.css.map */
