*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  background-color: black;
}

body {
  max-width: 320px;
  min-height: 100%;
  margin: auto;
  scroll-behavior: smooth;
}

.padx {
  padding: 1.1rem 1.75rem;
  width: 100%;
}

.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  transition: all 0.35s ease-in;
}

.header.active > .mobile-header--hamburgur_icon.active {
  gap: 0.6rem;
  width: 2.75rem;
  transform: rotate(90deg) scale(1.2);
  transition: all 0.35s ease-in;
}

.header.active > .mobile-header--hamburgur_icon.active .bar-1 {
  transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
  transition: all 0.25s ease-in;
}

.header.active > .mobile-header--hamburgur_icon.active .bar-3 {
  transform: rotate(45deg) translate(-0.5rem, -0.4rem);
  transition: all 0.25s ease-in;
}

.header.active > .mobile-header--hamburgur_icon.active .bar-2 {
  height: 0;
  transition: all 0.25s ease-in;
}

.mobile-header--hamburgur_icon {
  width: 3rem;
  height: 2.5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  transition: all 0.25s ease-in-out;
}

.mobile-header--hamburgur_icon .bar {
  height: 1rem;
  background-color: #272a31;
  border-radius: 1px;
  transition: all 0.25s ease-in-out;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Italic-trial.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Light-Italic-trial.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Light-trial.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Semilight-Italic-trial.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Thin-Italic-trial.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-trial.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../../assets/fonts/cocogoose/Cocogoose-Pro-Ultralight-trial.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.event-info_welcome,
.event-info {
  display: flex;
  flex-direction: column;
}

.event-info {
  gap: 1.6rem;
  padding-top: 8.4rem;
  padding-bottom: 8.4rem;
  background-image: url("../../../../assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-info_welcome {
  gap: 0.96rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ec5242;
}

.event-info_welcome .banner,
.event-info_welcome .year {
  font-family: "cocogoose", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.15;
  padding-left: 3.5px;
}

.event-info_welcome .year {
  font-family: "Lato", sans-serif;
  display: inline;
  font-size: 2.35rem;
  margin-top: -1.25rem;
}

.event-info_summary {
  padding: 1.6rem;
  outline: 3px solid white;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  font-size: 0.96rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 1.8;
  color: #272a31;
  background-color: rgb(247, 247, 248);
}

.event-info_summary-break {
  display: inline;
}

.event-info_dates {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.25px;
}

.event-info_dates .venue {
  font-weight: 700;
  font-size: 1.1rem;
}

@media (min-width: 25em) {
  .event-info {
    background-color: red;
  }
}

.program-highlight_group,
.program-highlight {
  display: flex;
  flex-direction: column;
}

.program-highlight {
  background-color: rgb(39, 42, 50);
  background-image: url("../../../../assets/pattern_bg.png");
  background-size: 12%;
  font-family: "Lato", sans-serif;
  gap: 2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.program-highlight_heading {
  align-self: center;
  color: rgb(247, 247, 248);
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.6rem;
}

.program-highlight_heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}

.program-highlight_group {
  list-style: none;
  gap: 0.6rem;
}

.program-highlight_group--list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  padding: 1.25rem;
  column-gap: 1.2rem;
  align-items: center;
  font-size: 1rem;
  justify-content: space-between;
  background-color: rgba(200, 200, 200, 0.1);
}

.program-highlight_group--list .icon {
  color: rgb(247, 247, 248);
  font-size: 2.6rem;
}

.program-highlight_group--list .topic {
  font-size: 1.25rem;
  font-weight: 900;
  color: #ec5242;
}

.program-highlight_group--list .detail {
  color: rgb(247, 247, 248);
}

.program-highlight_join {
  align-self: center;
  width: max-content;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.6rem 3rem;
  text-decoration: none;
  background-color: #ff3e25;
}

.featured-speaker_group .list-detail .name,
.featured-speaker_group .list-detail,
.featured-speaker_group,
.featured-speaker {
  display: flex;
  flex-direction: column;
}

.featured-speaker {
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 248);
  gap: 2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.featured-speaker_heading {
  align-self: center;
  color: #272a31;
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.6rem;
}

.featured-speaker_heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}

.featured-speaker_group {
  list-style: none;
  gap: 2.6rem;
  height: 250px;
  overflow: hidden;
}

.featured-speaker_group--list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: row;
  padding: 1.4rem 0 0 1.4rem;
  background-color: transparent;
  background-image: url("../../../../assets/mobile-check.svg");
  background-repeat: no-repeat;
  column-gap: 0.25rem;
  justify-content: safe;
}

.featured-speaker_group--list .img {
  display: block;
  border: 0;
  width: 7.6rem;
  height: 7.6rem;
  object-fit: fill;
  object-position: top;
}

.featured-speaker_group .list-detail {
  font-family: "Lato", sans-serif;
}

.featured-speaker_group .list-detail .name {
  gap: 0.25rem;
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 0.75rem;
  color: #272a31;
  position: relative;
}

.featured-speaker_group .list-detail .name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 1px;
  background-color: #999;
  transform: translate(0, 0);
}

.featured-speaker_group .list-detail .name .designation {
  font-size: 1rem;
  display: block;
  font-weight: 400;
  font-style: italic;
  color: #ec5242;
}

.featured-speaker_group .list-detail .detail {
  font-size: 0.9rem;
  padding-top: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.featured-speaker_more {
  display: flex;
  border: thin solid rgba(39, 42, 49, 0.2);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #272a31;
  font-weight: 400;
  padding: 1rem 0;
  background-color: transparent;
  border-radius: 0.3rem;
  gap: 0.6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.featured-speaker_more .icon {
  color: #ec5242;
}

.partners_group,
.partners {
  display: flex;
  flex-direction: column;
}

.partners {
  font-family: "Lato", sans-serif;
  background-color: #272a31;
  gap: 3rem;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

.partners_heading {
  align-self: center;
  color: rgb(247, 247, 248);
  text-transform: capitalize;
  font-size: 2rem;
  position: relative;
  padding-bottom: 1.6rem;
}

.partners_heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 1px;
  background-color: #ec5242;
  transform: translate(-50%, 0);
}

.partners_group {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.partners_group .list .brands {
  width: 7rem;
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 248);
  align-items: center;
  justify-content: space-between;
  color: #272a31;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.footer-link {
  text-decoration: none;
}

.footer-link_logo {
  display: block;
  width: 90%;
}

.footer--credits {
  line-height: 1.75;
  letter-spacing: 0.25px;
}

.footer--credits .credit .link {
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.footer--credits .credit .link:hover,
.footer--credits .credit .link:active {
  color: #ec5242;
}
