@use '../../../utils/fonts' as font;
@use '../../../utils/colors/' as color;

%display-flex {
  display: flex;
  flex-direction: column;
}

.featured-speaker {
  @extend %display-flex;

  font-family: font.$lato;
  background-color: color.$lighter-gray;
  gap: 2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  &_heading {
    align-self: center;
    color: color.$blue-black;
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
    padding-bottom: 1.6rem;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 4rem;
      height: 1px;
      background-color: color.$tomato;
      transform: translate(-50%, 0);
    }
  }

  &_group {
    @extend %display-flex;

    list-style: none;
    gap: 2.6rem;
    height: 250px;
    overflow: hidden;

    &--list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      flex-direction: row;
      padding: 1.4rem 0 0 1.4rem;
      background-color: transparent;
      background-image: url('../../../../assets/mobile-check.svg');
      background-repeat: no-repeat;
      column-gap: 0.25rem;
      justify-content: safe;

      .img {
        display: block;
        // width: 100%;
        border: 0;
        width: 7.6rem;
        height: 7.6rem;
        object-fit: fill;
        object-position: top;
      }
    }

    .list-detail {
      @extend %display-flex;

      font-family: font.$lato;
      // margin-top: -1re m;

      .name {
        @extend %display-flex;

        gap: 0.25rem;
        font-weight: 700;
        font-size: 1.4rem;
        padding-bottom: 0.75rem;
        color: color.$blue-black;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 2rem;
          height: 1px;
          background-color: #999;
          transform: translate(0, 0);
        }

        .designation {
          font-size: 1rem;
          display: block;
          font-weight: 400;
          font-style: italic;
          color: color.$tomato;
        }
      }

      .detail {
        font-size: 0.9rem;
        padding-top: 1rem;
        line-height: 1.25rem;
        font-weight: 400;
      }
    }
  }

  &_more {
    display: flex;
    border: thin solid transparentize($color: color.$blue-black, $amount: 0.8);
    font-family: font.$lato;
    text-transform: uppercase;
    color: color.$blue-black;
    font-weight: 400;
    padding: 1rem 0;
    background-color: transparent;
    border-radius: 0.3rem;
    gap: 0.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;

    .icon {
      color: color.$tomato;
    }
  }
}
