@use '../../../utils/fonts' as font;
@use '../../../utils/colors/' as color;
@use '../../../breakpoints' as *;

%display-flex {
  display: flex;
  flex-direction: column;
}

.featured-speaker {
  @extend %display-flex;

  font-family: font.$lato;
  background-color: color.$lighter-gray;
  gap: 2.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  &_heading {
    align-self: center;
    color: color.$blue-black;
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
    padding-bottom: 1.6rem;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 4rem;
      height: 1px;
      background-color: color.$tomato;
      transform: translate(-50%, 0);
    }
  }

  &_group {
    @extend %display-flex;

    list-style: none;
    gap: 2.6rem;
    height: 250px;
    overflow: hidden;

    &--list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 1.4rem 0 0 1.4rem;
      background-color: transparent;
      background-image: url('../../../../assets/mobile-check.svg');
      background-repeat: no-repeat;
      column-gap: 0.25rem;
      justify-content: safe;
      transition: all 0.5s ease-out;

      .img {
        display: block;
        border: 0;
        width: 7.6rem;
        height: 7.6rem;
        object-fit: fill;
        object-position: top;
      }

      .contact-info {
        position: absolute;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        width: 100%;
        height: 100%;

        &_list {
          .list_link {
            font-size: 3rem;
            color: color.$lighter-gray;
          }
        }
      }

      &:hover {
        position: relative;
        cursor: auto;

        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          mix-blend-mode: darken;
          background-color: transparentize($color: rgba(255, 0, 25, 1), $amount: 0.2);
        }

        .contact-info {
          display: flex;
        }

        transition: all 0.5s ease-out;
      }
    }

    .list-detail {
      @extend %display-flex;

      font-family: font.$lato;

      .name {
        @extend %display-flex;

        gap: 0.25rem;
        font-weight: 700;
        font-size: 1.4rem;
        padding-bottom: 0.75rem;
        color: color.$blue-black;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 2rem;
          height: 1px;
          background-color: #999;
          transform: translate(0, 0);
        }

        .designation {
          font-size: 1rem;
          display: block;
          font-weight: 400;
          font-style: italic;
          color: color.$tomato;
        }
      }

      .detail {
        font-size: 0.9rem;
        padding-top: 1rem;
        line-height: 1.25;
        font-weight: 400;
      }
    }
  }

  &_more {
    display: flex;
    border: thin solid transparentize($color: color.$blue-black, $amount: 0.8);
    font-family: font.$lato;
    text-transform: uppercase;
    color: color.$blue-black;
    font-weight: 400;
    padding: 1rem 0;
    background-color: transparent;
    border-radius: 0.3rem;
    gap: 0.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;

    .icon {
      color: color.$tomato;
    }
  }

  @include media(small) {
    gap: 4rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;

    &_heading {
      font-size: 2.6rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4.6rem;
      }
    }

    &_group {
      gap: 4rem;
      height: 350px;

      &--list {
        padding: 1.4rem 0 0 1.4rem;
        column-gap: 1.6rem;

        .img {
          width: 10rem;
          height: 10rem;
        }
      }

      .list-detail {
        margin-top: -1rem;

        .name {
          gap: 0.6rem;
          font-weight: 700;
          font-size: 1.75rem;
          padding-bottom: 1rem;

          &::after {
            width: 2rem;
          }

          .designation {
            font-size: 1.25rem;
          }
        }

        .detail {
          font-size: 1.15rem;
          padding-top: 1rem;
          line-height: 1.6;
        }
      }
    }

    &_more {
      padding: 1rem 0;
      border-radius: 0.3rem;
      gap: 0.6rem;
    }
  }

  @include media(medium) {
    gap: 4.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;

    &_heading {
      font-size: 2.75rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4.6rem;
      }
    }

    &_group {
      gap: 4.6rem;
      height: 390px;

      &--list {
        padding: 1.4rem 0 0 1.4rem;
        column-gap: 1.6rem;

        .img {
          width: 12rem;
          height: 12rem;
        }
      }

      .list-detail {
        margin-top: -2rem;

        .name {
          gap: 0.6rem;
          font-weight: 700;
          font-size: 2rem;
          padding-bottom: 1rem;

          &::after {
            width: 2.6rem;
          }

          .designation {
            font-size: 1.3rem;
          }
        }

        .detail {
          font-size: 1.25rem;
          padding-top: 1rem;
          line-height: 1.6;
        }
      }
    }

    &_more {
      font-size: 1.75rem;
      padding: 1rem 0;
      border-radius: 0.3rem;
      gap: 0.6rem;
    }
  }

  @include media(ipad) {
    gap: 5.6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    &_heading {
      font-size: 3rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 5rem;
      }
    }

    &_group {
      gap: 6rem;
      height: 390px;

      &--list {
        padding: 1.6rem 0 0 1.6rem;
        column-gap: 1.6rem;

        .img {
          width: 12rem;
          height: 12rem;
        }
      }

      .list-detail {
        margin-top: -2rem;

        .name {
          gap: 0.6rem;
          font-weight: 700;
          font-size: 2.6rem;
          padding-bottom: 1rem;

          &::after {
            width: 2.6rem;
          }

          .designation {
            font-size: 1.5rem;
          }
        }

        .detail {
          font-size: 1.3rem;
          padding-top: 1rem;
          line-height: 1.6;
        }
      }
    }

    &_more {
      font-size: 1.75rem;
      padding: 1rem 0;
      border-radius: 0.3rem;
      gap: 1rem;
    }
  }

  @include media(mini-tab) {
    gap: 5.6rem;
    padding-top: 4rem;
    padding-bottom: 0;

    &_heading {
      font-size: 2.6rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4rem;
      }
    }

    &_group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      height: auto;

      &--list {
        background-image: url('../../../../assets/gray-mobile-check.svg');
        padding: 1.4rem 0 0 1.4rem;
        column-gap: 1.6rem;

        .img {
          width: 8rem;
          height: 8rem;
        }
      }

      .list-detail {
        margin-top: 0;

        .name {
          gap: 0.6rem;
          font-weight: 700;
          font-size: 1.75rem;
          padding-bottom: 1rem;

          &::after {
            width: 2.6rem;
          }

          .designation {
            font-size: 1.2rem;
          }
        }

        .detail {
          font-size: 0.9rem;
          padding-top: 1rem;
          line-height: 1.6;
        }
      }
    }

    &_more {
      width: 0;
      font-size: 0;
      padding: 0;
      border-radius: 0;
      gap: 0;
    }
  }

  @include media(tablet) {
    gap: 5.6rem;

    &.padx {
      padding-top: 4rem;
      padding-bottom: 0;
    }

    &_heading {
      font-size: 2.25rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 3.6rem;
      }
    }

    &_group {
      gap: 3rem;
      height: auto;

      &--list {
        background-image: url('../../../../assets/gray-mobile-check.svg');
        padding: 1.4rem 0 0 1.4rem;
        column-gap: 1.25rem;
        cursor: pointer;

        .img {
          width: 11rem;
          height: 11rem;
        }
      }
    }
  }

  @include media(s-lap) {
    gap: 5.6rem;

    &.padx {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }

    &_heading {
      font-size: 2.25rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 3.6rem;
      }
    }

    &_group {
      gap: 5rem;
      height: auto;

      &--list {
        background-image: url('../../../../assets/desktop-check.svg');
        padding: 1.8rem 0 0 1.8rem;
        column-gap: 1rem;
        cursor: pointer;

        .img {
          width: 14rem;
          height: 14rem;
        }

        .list-detail {
          margin-top: 0;

          .name {
            gap: 0.6rem;
            font-weight: 700;
            font-size: 2.25rem;
            padding-bottom: 1rem;

            &::after {
              width: 2.6rem;
            }

            .designation {
              font-size: 1.3rem;
            }
          }

          .detail {
            font-size: 1.15rem;
            padding-top: 1rem;
            line-height: 1.6;
          }
        }
      }
    }
  }
}
