@use '../utils/colors' as color;
@use '../breakpoints/mixins' as *;

.mobile-header--hamburgur_icon {
  width: 3rem;
  height: 2.5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  transition: all 0.1s ease-out;

  .bar {
    height: 1rem;
    background-color: #656972;
    border-radius: 1px;
    transition: all 0.05s ease-out;
  }
}

@include media(medium) {
  .mobile-header--hamburgur_icon {
    width: 3.75rem;
    height: 3.25rem;
  }
}
