@use '../../../utils/fonts' as font;
@use '../../../utils/colors' as color;
@use '../../../breakpoints/mixins' as *;

%flex-box {
  display: flex;
  flex-direction: column;
}

.event-info {
  @extend %flex-box;
  gap: 1rem;
  padding-top: 5.25rem;
  padding-bottom: 4.25rem;
  background-image: url('../../../../assets/x-small-mobile-back.png');
  background-repeat: no-repeat;
  background-size: cover;

  &_welcome {
    @extend %flex-box;
    gap: 0.6rem;
    font-family: font.$lato;
    font-weight: 400;
    font-size: 1rem;
    color: color.$tomato;

    .banner {
      font-family: font.$lato;
      font-size: 1.4rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.15;
      padding-left: 3.5px;
      background-image: url('../../../../assets/118.jpg');
      background-repeat: no-repeat;
      background-size: 100% 50rem;
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(255, 255, 255, 0);
    }
  }

  &_summary {
    padding: 1rem;
    outline: 4px solid white;
    box-shadow: inset 0 0 4px  rgba(0, 0, 0, 0.10);
    font-size: 0.63rem;
    font-family: font.$lato;
    font-weight: 600;
    line-height: 1.8;
    color: color.$blue-black;
    background-color: color.$lighter-gray;

    &-break {
      display: inline;
    }

  }

  &_dates {
    color: color.$blue-black;
    font-family: font.$lato;
    font-weight: 900;
    font-size: 1.4rem;
    letter-spacing: 0.25px;

    .venue {
      font-weight: 700;
      font-size: 0.7rem;
    }
  }

  @include media(medium) {
    background-color: red;
  }
}