@use '../../../utils/fonts' as font;
@use '../../../utils/colors/' as color;
@use '../../../breakpoints' as *;

%display-flex {
  display: flex;
  flex-direction: column;
}

.partners {
  @extend %display-flex;

  font-family: font.$lato;
  background-color: color.$blue-black;
  gap: 3rem;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;

  &_heading {
    align-self: center;
    color: color.$lighter-gray;
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
    padding-bottom: 1.6rem;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 4rem;
      height: 1px;
      background-color: color.$tomato;
      transform: translate(-50%, 0);
    }
  }

  &_group {
    @extend %display-flex;

    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .list {
      .brands {
        width: 7rem;
        display: inline-block;
      }
    }
  }

  @include media(small) {
    gap: 4rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;

    &_heading {
      font-size: 2.6rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4rem;
      }
    }

    &_group {
      gap: 2rem;

      .list {
        .brands {
          width: 9rem;
        }
      }
    }
  }

  @include media(medium) {
    gap: 4.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;

    &_heading {
      font-size: 2.75rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4rem;
      }
    }

    &_group {
      gap: 2.6rem;

      .list {
        .brands {
          width: 10rem;
        }
      }
    }
  }

  @include media(ipad) {
    gap: 4.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;

    &_heading {
      font-size: 2.75rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4rem;
      }
    }

    &_group {
      gap: 2.6rem;

      .list {
        .brands {
          width: 13rem;
        }
      }
    }
  }

  @include media(mini-tab) {
    gap: 2.6rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;

    &_heading {
      font-size: 2.75rem;
      padding-bottom: 1.6rem;

      &::after {
        width: 4rem;
      }
    }

    &_group {
      gap: 2.6rem;

      .list {
        .brands {
          width: 9rem;
        }
      }
    }
  }

  @include media(tablet) {
    gap: 2.6rem;

    &.padx {
      padding-top: 3.6rem;
      padding-bottom: 3.6rem;
    }

    &_heading {
      font-size: 2.25rem;
      padding-bottom: 1rem;

      &::after {
        width: 3rem;
      }
    }

    &_group {
      gap: 4rem;

      .list {
        .brands {
          width: 9.6rem;
        }
      }
    }
  }

  @include media(s-lap) {
    gap: 2.6rem;

    &.padx {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    &_heading {
      font-size: 2.25rem;
      padding-bottom: 1rem;

      &::after {
        width: 3rem;
      }
    }

    &_group {
      gap: 6rem;

      .list {
        .brands {
          width: 13rem;
        }
      }
    }
  }
}
