* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    @extend *;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  background-color: black;
}

body {
  max-width: 320px;
  min-height: 100%;
  margin: auto;
  scroll-behavior: smooth;
}

.padx {
  padding: 1.1rem 1.75rem;
  width: 100%;
}
