@use '../../../utils/colors' as color;
@use '../../../utils/fonts' as font;
@use '../../../breakpoints' as *;

.footer {
  display: flex;
  flex-direction: row;
  font-family: font.$lato;
  background-color: color.$lighter-gray;
  align-items: center;
  justify-content: space-between;
  color: color.$blue-black;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  font-size: 0.9rem;
  font-weight: 700;

  &-link {
    text-decoration: none;

    &_logo {
      display: block;
      width: 90%;
    }
  }

  &.active {
    background-color: color.$blue-black;
    color: color.$lighter-gray;

    .credit_link {
      color: color.$lighter-gray;
    }
  }

  &--credits {
    line-height: 1.75;
    letter-spacing: 0.25px;

    .credit {
      .credit_link {
        font-weight: 900;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:active {
          color: color.$tomato;
        }
      }
    }
  }

  @include media(small) {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 0.9rem;

    &-link {
      text-decoration: none;
      // gap: 6rem;

      &_logo {
        width: 14rem;
      }
    }

    &--credits {
      line-height: 1.75;
      letter-spacing: 0.25px;
    }
  }

  @include media(medium) {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    font-size: 1.05rem;

    &-link {
      text-decoration: none;
      // gap: 6rem;

      &_logo {
        width: 14rem;
      }
    }

    &--credits {
      line-height: 1.75;
      letter-spacing: 0.25px;
    }
  }

  @include media(ipad) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.25rem;

    &-link {
      text-decoration: none;
      // gap: 6rem;

      &_logo {
        width: 17rem;
      }
    }

    &--credits {
      line-height: 1.75;
      letter-spacing: 0.25px;
    }
  }

  @include media(mini-tab) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1rem;

    &-link {
      text-decoration: none;
      // gap: 6rem;

      &_logo {
        width: 17rem;
      }
    }

    &--credits {
      width: 60%;
      line-height: 1.75;
      letter-spacing: 0.25px;

      .text,
      .credit {
        display: inline;
      }
    }
  }

  @include media(tablet) {
    &.padx {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    font-size: 1.3rem;

    &-link {
      text-decoration: none;
      // gap: 6rem;

      &_logo {
        width: 17rem;
      }
    }

    &--credits {
      width: 60%;
      line-height: 1.75;
      letter-spacing: 0.25px;

      .text,
      .credit {
        display: inline;
      }
    }
  }

  @include media(s-lap) {
    &.padx {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    font-size: 1.6rem;

    &-link {
      text-decoration: none;
      // gap: 6rem;

      &_logo {
        width: 22rem;
      }
    }

    &--credits {
      width: 60%;
      line-height: 1.75;
      letter-spacing: 0.25px;

      .text,
      .credit {
        display: inline;
      }
    }
  }
}
