@use '../../../breakpoints/mixins' as *;

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  // padding: 0.6rem 0.75rem;
  display: flex;
  flex-direction: row;
  transition: all 0.35s ease-in;

  &.active > .mobile-header--hamburgur_icon.active {
    gap: 0.6rem;
    width: 2.75rem;

    .bar-1 {
      transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
      transition: all 0.25s ease-in;
    }

    .bar-3 {
      transform: rotate(45deg) translate(-0.5rem, -0.4rem);
      transition: all 0.25s ease-in;
    }

    .bar-2 {
      height: 0;
      transition: all 0.25s ease-in;
    }

    transform: rotate(90deg) scale(1.2);
    transition: all 0.35s ease-in;
  }

  // @include media(tablet) {
  //   & > .mobile-header--hamburgur_icon.active,
  //   .mobile-header--hamburgur_icon {
  //     width: 0;
  //     transition: all 0.25s ease-out;
  //   }
  // }
}
