@use '../../../breakpoints/mixins' as *;
@use '../../../utils/colors' as color;
@use '../../../utils/fonts' as font;

%display-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 2rem;
  font-family: font.$lato;

  &-main_nav,
  .desktop-cta__container {
    position: absolute;
    display: none;
  }

  &.active > .mobile-header--hamburgur_icon.active {
    gap: 0.6rem;
    width: 2.75rem;
    transition: all 0.25s ease-in;

    .bar {
      background-color: color.$lighter-gray;
    }

    .bar-1 {
      transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
      transition: all 0.25s ease-in;
    }

    .bar-3 {
      transform: rotate(45deg) translate(-0.5rem, -0.4rem);
      transition: all 0.25s ease-in;
    }

    .bar-2 {
      height: 0;
      transition: all 0.25s ease-in;
    }

    transform: rotate(90deg) translate(2px, -4px)  scale(1.2);
  }

  &.fixed.mobile-header {
    position: fixed;
    width: 100%;
    max-width: inherit;
    background-color: color.$lighter-gray;
    z-index: 10;
  }

  &.active.mobile-header {
    position: fixed;
    width: 100%;
    max-width: inherit;
    height: 100vh;
    max-height: inherit;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: color.$tomato;
    z-index: 2;
    overflow: hidden;
    transition: all 0.25s ease-out;
  }

  &.active {
    .header-main_nav {
      display: flex;
      position: relative;
      flex-direction: column-reverse;
      width: 100%;
      gap: 4.6rem;

      &.padx {
        // padding-top: 1.75rem;
        // padding-bottom: 1.75rem;
        padding: 0;
      }

      &-logo {
        border: 4px solid color.$lighter-gray;
        width: 20rem;
        padding: 1rem 2rem;
      }

      &__ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4.6rem;
        width: 100%;
        margin-top: 4rem;
        align-items: flex-start;
        font-family: font.$cocogoose;

        .list {
          .link {
            text-decoration: none;
            font-size: 1.75rem;
            font-weight: 600;
            padding-bottom: 0;
            position: relative;
            color: transparentize($color: color.$lighter-gray, $amount: 0);

            &::after {
              position: absolute;
              content: '';
              left: 0;
              bottom: -10%;
              width: 100%;
              border-bottom: 2px solid transparent;
            }
          }

          &:last-child {
            box-shadow: none;
            padding: 0;
            color: color.$tomato;

            .link {
              border-color: transparent;

              &::after {
                border: none;
              }
            }
          }
        }
      }
    }
  }

  @include media(medium) {
    &.active > .mobile-header--hamburgur_icon.active {
      gap: 0.6rem;
      width: 3.75rem;

      .bar {
        height: 0.5rem;
        background-color: color.$lighter-gray;
      }

      .bar-1 {
        transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
        transition: all 0.25s ease-in;
      }

      .bar-3 {
        transform: rotate(45deg) translate(-0.5rem, -0.4rem);
        transition: all 0.25s ease-in;
      }

      .bar-2 {
        height: 0;
        transition: all 0.25s ease-in;
      }

      transition: all 0.25s ease-in;
      transform: rotate(90deg) translate(2px, -4px)  scale(1.2);
    }
  }

  @include media(tablet) {
    position: relative;
    flex-direction: column;
    background-color: color.$lighter-gray;
    padding: 0;

    & > .mobile-header--hamburgur_icon.active,
    .mobile-header--hamburgur_icon {
      width: 0;
      position: absolute;
      transition: all 0.25s ease-out;
    }

    &-main_nav {
      display: flex;
      position: relative;
      flex-direction: row;
      width: 100%;

      &.padx {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
      }

      &-logo {
        width: 14rem;
      }

      &__ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
        width: 100%;
        align-items: center;
        font-family: font.$cocogoose;

        .list {
          .link {
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 600;
            padding-bottom: 2.2rem;
            position: relative;
            color: transparentize($color: color.$blue-black, $amount: 0.25);
            transition: all 0.2s ease-in;

            &::after {
              position: absolute;
              content: '';
              left: 0;
              bottom: -10%;
              width: 100%;
              border-bottom: 2px solid transparent;
              transition: all 0.25s ease-in;
            }
          }

          &:last-child {
            box-shadow: 0 0 2px 3px color.$tomato;
            padding: 0.6rem 2rem;
            color: color.$tomato;

            .link {
              color: color.$tomato;
              border-color: transparent;

              &::after {
                border: none;
              }
            }
          }

          &.active {
            .link {
              color: color.$tomato;
              transform: scale(1.2) translateY(-0.25rem);

              &::after {
                border-color: color.$tomato;
                transition: all 0.25s ease-in;
              }
            }

            transition: all 0.25s ease-in;
          }

          &:hover {
            .link {
              color: orange;
              transform: scale(1.2) translateY(-0.25rem);

              &::after {
                border-color: orange;
                transition: all 0.25s ease-in;
              }
            }

            transition: all 0.25s ease-in;
          }
        }
      }
    }

    .desktop-cta__container {
      display: flex;
      position: relative;
      align-items: center;
      background-color: color.$blue-black;

      &--uList {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        flex-direction: row;
        gap: 1.75rem;

        .uList_link {
          font-family: font.$cocogoose;
          font-weight: 600;
          color: color.$lighter-gray;
          font-size: 0.9rem;
          align-self: center;
          transition: all 0.25s ease-out;

          .icon {
            font-size: 1.225rem;
          }
        }

        .lang-prefer {
          font-family: font.$cocogoose;
          font-weight: 600;
          background-color: transparent;
          border: none;
          color: white;
          font-size: 0.9rem;
          vertical-align: middle;

          .opt {
            font-size: 1.2rem;
            color: black;
            border: none;
          }
        }

        .list:hover {
          transform: scale(1.2) translateY(-0.25rem);

          .link {
            color: color.$tomato;
          }

          transition: all 0.25s ease-in;
        }
      }
    }
  }

  @include media(xs-lap) {
    .desktop-cta__container {
      &--uList {
        gap: 1.75rem;

        .uList_link {
          font-size: 0.9rem;

          .icon {
            font-size: 1.225rem;
          }
        }

        .lang-prefer {
          font-size: 0.9rem;

          .opt {
            font-size: 1.2rem;
          }
        }
      }
    }

    &-main_nav {
      &.padx {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
      }

      &-logo {
        width: 14rem;
      }

      &__ul {
        gap: 3rem;

        .list {
          .link {
            font-size: 0.9rem;
            padding-bottom: 2.2rem;

            &::after {
              bottom: -10%;
            }
          }

          &:last-child {
            box-shadow: 0 0 2px 3px color.$tomato;
            padding: 0.6rem 2rem;
          }
        }
      }
    }
  }

  @include media(s-lap) {
    .desktop-cta__container {
      &--uList {
        gap: 2rem;

        .uList_link {
          font-size: 1.1rem;

          .icon {
            font-size: 1.6rem;
          }
        }

        .lang-prefer {
          font-size: 1.1rem;

          &:hover {
            outline: thin solid black;
          }

          .opt {
            font-size: 1rem;
          }
        }
      }
    }

    &-main_nav {
      &.padx {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
      }

      &-logo {
        width: 20rem;
      }

      &__ul {
        gap: 5rem;
        width: 100%;

        .list {
          .link {
            font-size: 1.4rem;
            padding-bottom: 2.2rem;
          }

          &:last-child {
            padding: 1rem 2rem;
          }
        }
      }
    }
  }
}
