@use '../utils/fonts' as font;
@use '../utils/colors' as color;
@use '../breakpoints/mixins' as *;

%flex-box {
  display: flex;
  flex-direction: column;
}

%info {
  @extend %flex-box;

  gap: 1.6rem;
  padding-top: 7.4rem;
  padding-bottom: 8.4rem;
  background-image: url('../../../../assets/patt.svg'), url('../../../../assets/arduino.svg'), url('../../../../assets/checkbox-feature.svg'), url('../../../../assets/Ellipse.svg'), url('../../../../assets/background.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 12%, 15%, 15%, 20%, cover;
  background-position: bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, right 7% top 45%;

  .welcome {
    @extend %flex-box;

    gap: 0.96rem;
    font-family: font.$lato;
    font-weight: 400;
    font-size: 1.6rem;
    color: color.$tomato;

    .banner {
      font-family: font.$cocogoose;
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.15;
      padding-left: 3.5px;
      background-image: url('../../../../assets/118.jpg');
      background-repeat: no-repeat;
      background-size: 100% 50rem;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(255, 255, 255, 0);
    }

    .year {
      @extend .banner;

      font-family: font.$lato;
      display: inline;
      font-size: 2.35rem;
      margin-top: -1.25rem;
    }
  }

  .summary {
    padding: 1.6rem;
    outline: 3px solid white;
    box-shadow: inset 0 0 4px  rgba(0, 0, 0, 0.1);
    font-size: 0.96rem;
    font-family: font.$lato;
    font-weight: 600;
    line-height: 1.8;
    color: color.$blue-black;
    background-color: color.$lighter-gray;

    &-break {
      display: inline;
    }
  }

  .dates {
    color: color.$blue-black;
    font-family: font.$lato;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 0.25px;

    .venue {
      font-weight: 700;
      font-size: 1.1rem;
    }
  }

  @include media(tablet) {
    background-image: url('../../../../assets/rpi_vector.svg'), url('../../../../assets/patt.svg'), url('../../../../assets/arduino.svg'), url('../../../../assets/checkbox-feature.svg'), url('../../../../assets/Ellipse.svg'), url('../../../../assets/desktop-bg.webp');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 40%, 12%, 15%, 15%, 20%, cover;
    background-position: top 0 left 0, bottom 3% left 7%, bottom 5% right 7%, right 30% top 5%, right 7% top 45%;
  }
}
